doctype
html
    head
        title My Application
    body
        ul#menu-bar
            li#current Home
            li Customers
            li Invoices
            li Reports
                ul
                    li Monthly sale
                    li Best customer
                    li security
        block content

