doctype
html
    head
        title Contact Page
    body
        h3 Conact us:
        p
        p To contact us use on of the following method:
            ul
                li= email
                li you can also call us on  #{telephone}  //alternative way of displaying inline data from a view model comes in with jade//

